body {
    background-image: url('back2.png');
    background-size: cover; /* Optional: To cover the entire page */
    background-repeat: no-repeat; /* Optional: To avoid repeating the image */
    background-position: center; /* Optional: To center the image */
}
.game-page{
    display: flex;
}
#board{
    height: 450px;
    width: 450px;
}

.option-level{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width:18rem;
    height: 3.5rem;
    
    
}
.space{
    width: 100%;
    height: 2.5rem;
}

h1{
    background: rgb(219, 213, 213,0.1); /* Semi-transparent white */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    text-align: center;
    height: 6rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: xx-large;
    font-family: poppins;
}

.start-button{
    
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width:21rem;
    height: 4rem;
}
.glass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    padding: 20px;
}

#snake-board {
    border: 1px solid rgba(255, 255, 255, 0.18);
}